#simulator {
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#simulator .simulator-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 10px;
}

#simulator .simulator-inputs input {
    width: 40px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
}

#simulator .simulator-inputs input + input {
    position: absolute;
    bottom: 0;
}

#simulator .simulator-over {
    width: 600px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simulator .simulator-over .result {
    width: 400px;
    height: 200px;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
}